// Web Piano
// Copyright (c) 2016 Shota Shimazu
// This program is freely distributed under the MIT, see LICENSE for detail.


doctype html
html
  include ./Templates/head.jade
  body
    include ./Templates/navbar.jade
    .container
      h1 Acknowledgment
      h2 Author
      h3 Shota Shimazu
      p I'm a student of Environment and Information studies at Keio Univ.
      
      
      h1 Credits
      h2 Bootstrap
      p Copyright (c) 2003-2016 TWBS 
      
      h2 ScrollReveal.js
      p Copyright (c) 2004-2016 ScrollReveal
        
  include ./Templates/script.jade
  
  
    
