// Web Piano
// Copyright (c) 2016 Shota Shimazu
// This program is freely distributed under the MIT, see LICENSE for detail.


doctype html
html
  include ./Templates/head.jade
  body
    include ./Templates/navbar.jade
    .container
      h1 Acknowledgment
      p This site is now under construction.
        
  include ./Templates/script.jade
  
  
    
