// Web Piano
// Copyright (c) 2016 Shota Shimazu
// This program is freely distributed under the MIT, see LICENSE for detail.




mixin setAudio
  audio(id="sound-file" preload="auto")
    source(type="audio/mp3")

include ./Templates/classicPiano.jade
include ./Templates/cutePiano.jade
include ./Templates/rockPiano.jade




doctype html
html
  include ./Templates/head.jade
  body
    include ./Templates/navbar.jade
    

    //- Classic Piano
    .container
      h1 Classic Piano
      .keybord.ClassicPiano
        +classicPianoSetsOfKeysC(2)
        +classicPianoSetsOfKeysF(2)
        +classicPianoSetsOfKeysC(3)
        +classicPianoSetsOfKeysF(3)
        +classicPianoSetsOfKeysC(4)
    .list-blank


    //- Cute Piano
    .container
      h1 Cute Piano
      .keybord.CutePiano
        +cutePianoSetsOfKeysC(2)
        +cutePianoSetsOfKeysF(2)
        +cutePianoSetsOfKeysC(3)
        +cutePianoSetsOfKeysF(3)
        +cutePianoSetsOfKeysC(4)
    .list-blank
    
        
    //- Rock Piano
    .container
      h1 Rock Piano
      .keybord.RockPiano
        +rockPianoSetsOfKeysC(2)
        +rockPianoSetsOfKeysF(2)
        +rockPianoSetsOfKeysC(3)
        +rockPianoSetsOfKeysF(3)
        +rockPianoSetsOfKeysC(4)
    .list-blank
    
        
  include ./Templates/script.jade
  
  
    
