// Web Piano
// Copyright (c) 2016 Shota Shimazu
// This program is freely distributed under the MIT, see LICENSE for detail.



include ./Templates/classicPiano.pug
include ./Templates/cutePiano.pug
include ./Templates/rockPiano.pug




doctype html
html
  include ./Templates/head.pug
  body
    include ./Templates/navbar.pug
    

    //- Classic Piano
    .container
      h1 Classic Piano
      .keybord.ClassicPiano
        +classicPianoSetsOfKeysC(2)
        +classicPianoSetsOfKeysF(2)
        +classicPianoSetsOfKeysC(3)
        +classicPianoSetsOfKeysF(3)
        +classicPianoSetsOfKeysC(4)
    .list-blank


    //- Cute Piano
    .container
      h1 Cute Piano
      .keybord.CutePiano
        +cutePianoSetsOfKeysC(2)
        +cutePianoSetsOfKeysF(2)
        +cutePianoSetsOfKeysC(3)
        +cutePianoSetsOfKeysF(3)
        +cutePianoSetsOfKeysC(4)
    .list-blank
    
        
    //- Rock Piano
    .container
      h1 Rock Piano
      .keybord.RockPiano
        +rockPianoSetsOfKeysC(2)
        +rockPianoSetsOfKeysF(2)
        +rockPianoSetsOfKeysC(3)
        +rockPianoSetsOfKeysF(3)
        +rockPianoSetsOfKeysC(4)
    .list-blank
    
        
  include ./Templates/script_index.pug
  
  
    
