// Web Piano
// Copyright (c) 2016 Shota Shimazu
// This program is freely distributed under the MIT, see LICENSE for detail.



mixin setOfKeyC(min_no, max_no)
  .keySets
    button.whiteKey.reveal(id = min_no)
      audio(id="sound-file" preload="auto")
        source(src="http://web.sfc.keio.ac.jp/~t16440ss/SoundFonts/C3.mp3" type="audio/mp3")
    button.blackKey.reveal
      audio
        source(src="http://web.sfc.keio.ac.jp/~t16440ss/SoundFonts/C3.mp3" type="audio/mp3")
      
  .keySets
    button.whiteKey.reveal
    button.blackKey.reveal
  .keySets
    button.whiteKey.reveal(id = max_no)
  
mixin setOfKeyF(min_no, max_no)
  .keySets
    button.whiteKey.reveal(id = min_no)
    button.blackKey.reveal
  .keySets
    button.whiteKey.reveal
    button.blackKey.reveal
  .keySets
    button.whiteKey.reveal
    button.blackKey.reveal
  .keySets
    button.whiteKey.reveal(id = max_no)



    
    

doctype html
html
  include ./Templates/head.jade
  body
    include ./Templates/navbar.jade
    
    .container
      h1 Europe Piano
      .keybord
        +setOfKeyC
        +setOfKeyF
        +setOfKeyC
        +setOfKeyF
        +setOfKeyC
        
    .container
      h1 Cute Piano
      .keybord
        +setOfKeyC
        +setOfKeyF
        +setOfKeyC
        +setOfKeyF
        +setOfKeyC
        
    .container
      h1 Cute Piano
      .keybord
        +setOfKeyC
        +setOfKeyF
        +setOfKeyC
        +setOfKeyF
        +setOfKeyC
        
  include ./Templates/script.jade
  
  
    
