// Web Piano
// Copyright (c) 2016 Shota Shimazu
// This program is freely distributed under the MIT, see LICENSE for detail.



mixin setOfKeyC
  .keySets
    button.whiteKey.reveal
      audio(id="sound-file" preload="auto")
        source(type="audio/mp3")
    button.blackKey.reveal
      audio
        source(type="audio/mp3")
      
  .keySets
    button.whiteKey.reveal
    button.blackKey.reveal
  .keySets
    button.whiteKey.reveal
  


mixin setOfKeyF
  .keySets
    button.whiteKey.reveal
    button.blackKey.reveal
  .keySets
    button.whiteKey.reveal
    button.blackKey.reveal
  .keySets
    button.whiteKey.reveal
    button.blackKey.reveal
  .keySets
    button.whiteKey.reveal






mixin classicPianoSetsOfKeysC
  .keySets
    button.whiteKey.reveal#classicPianoC2
      audio(id="sound-file" preload="auto")
        source(type="audio/mp3")
    button.blackKey.reveal#classicPianoC2s
      audio
        source(type="audio/mp3")
      
  .keySets
    button.whiteKey.reveal#classicPianoD2
      audio(id="sound-file" preload="auto")
        source(type="audio/mp3")
    button.blackKey.reveal#classicPianoD2s
      audio(id="sound-file" preload="auto")
        source(type="audio/mp3")
  .keySets
    button.whiteKey.reveal#classicPianoE2
      audio(id="sound-file" preload="auto")
        source(type="audio/mp3")
  


mixin classicPianoSetsOfKeysF
  .keySets
    button.whiteKey.reveal
    button.blackKey.reveal
  .keySets
    button.whiteKey.reveal
    button.blackKey.reveal
  .keySets
    button.whiteKey.reveal
    button.blackKey.reveal
  .keySets
    button.whiteKey.reveal



 



    
    

doctype html
html
  include ./Templates/head.jade
  body
    include ./Templates/navbar.jade
    
    
    
    // Loading animation
    .loading#loading
      p LOADINFG...
    
    
    // Classic Piano
    .container
      h1 Classic Piano
      .keybord.ClassicPiano
        +classicPianoSetsOfKeysC
        +classicPianoSetsOfKeysF
        +classicPianoSetsOfKeysC
        +classicPianoSetsOfKeysF
        +classicPianoSetsOfKeysC
    .list-blank


    // Cute Piano
    .container
      h1 Cute Piano
      .keybord.CutePiano
        +setOfKeyC
        +setOfKeyF
        +setOfKeyC
        +setOfKeyF
        +setOfKeyC
    .list-blank
    
        
    // Rock Piano
    .container
      h1 Rock Piano
      .keybord.RockPiano
        +setOfKeyC
        +setOfKeyF
        +setOfKeyC
        +setOfKeyF
        +setOfKeyC
    .list-blank
    
        
  include ./Templates/script.jade
  
  
    
