.keybord {
  display: block;
  border-top: solid 100px #ED5565;
  border-left: solid 20px #ED5565;
  border-right: solid 20px #ED5565;
  border-bottom: solid 50px #ED5565;
  border-radius: 14px;
  height: 380px;
  width: 1060px;
}
