// Mixins -----------------------------------------------
@mixin setBasicKeyStyle($color) {
  display: block;
  position: absolute;
  top: 0;
  border-radius: 5px;
  background: $color;
  border: solid 3px #333;
  list-style: none;
}


@mixin size($height, $width) {
  height: $height;
  width: $width;
}


// Variables --------------------------------------------
$black-keybord-width: 45px;
$white-keybord-width: $black-keybord-width + $black-keybord-width/2 + 7px;
$keybord-height: 500px;
$key-base-layer: 1;

.keybord {
  display: block;
}


.keySets {
  position: relative;
  float: left;
  width: 60px;
  height: 250px;
}





.whiteKey {
  @include setBasicKeyStyle(#fff);
  @include size($keybord-height, $white-keybord-width);
  z-index: $key-base-layer;
  top:0px;
	background-color:#fff;
	border-radius:0 0 5px 5px;
	box-shadow: 0px 3px 0px rgb(211, 211, 211);
	border:2px solid #b3b3b3;
	border-top:none;
	width:58px;
	height:230px;
}


.blackKey {
  @include setBasicKeyStyle(#333);
  @include size($keybord-height - 165px, $black-keybord-width);

  top:0px;
  left:35px;
	border-radius:0 0 10px 10px;
	background-color:#000000;
	width:50px;
	height:125px;
	z-index:100;
}
.blackKey:after {
  content: '';
	position: absolute;
  left: 9px;
  top: 0px;
	background: rgb(255, 255, 25);
	border-radius: 0 0 12px 12px;
	background: linear-gradient(rgb(0,0,0),rgb(30,30,30));
	background: -ms-linear-gradient(rgb(0,0,0),rgb(30,30,30));
	background: -webkit-linear-gradient(rgb(0,0,0),rgb(30,30,30));
	background: -moz-linear-gradient(rgb(0,0,0),rgb(30,30,30));
	background: -o-linear-gradient(rgb(0,0,0),rgb(30,30,30));
	box-shadow: 0px -1px 2px 0px rgb(50,50,50) inset;
	width: 32px;
	height: 108px;
}
.brack_key:hover:after {
	height:112px;
}
