mixin classicPianoSetsOfKeysC(key_line)
  if key_line === 2
    .keySets
      button.whiteKey.reveal#classicC2
      button.blackKey.reveal#classicC2s
    .keySets
      button.whiteKey.reveal#classicD2
      button.blackKey.reveal#classicD2s
    .keySets
      button.whiteKey.reveal#classicE2
        
  
  if key_line === 3
    .keySets
      button.whiteKey.reveal#classicC3
        
      button.blackKey.reveal#classicC3s
        
    .keySets
      button.whiteKey.reveal#classicD3
        
      button.blackKey.reveal#classicD3s
        
    .keySets
      button.whiteKey.reveal#classicE3
        
  
  if key_line === 4
    .keySets
      button.whiteKey.reveal#classicC4
        
      button.blackKey.reveal#classicC4s
        
    .keySets
      button.whiteKey.reveal#classicD4
        
      button.blackKey.reveal#classicD4s
        
    .keySets
      button.whiteKey.reveal#classicE4
        
  


mixin classicPianoSetsOfKeysF(key_line)
  if key_line == 2
    .keySets
      button.whiteKey.reveal#classicF2
        
      button.blackKey.reveal#classicF2s
        
    .keySets
      button.whiteKey.reveal#classicG2
        
      button.blackKey.reveal#classicG2s
        
    .keySets
      button.whiteKey.reveal#classicA3
        
      button.blackKey.reveal#classicA3s
        
    .keySets
      button.whiteKey.reveal#classicB3
        
  
  if key_line == 3
    .keySets
      button.whiteKey.reveal#classicF3
        
      button.blackKey.reveal#classicF3s
        
    .keySets
      button.whiteKey.reveal#classicG3
        
      button.blackKey.reveal#classicG3s
        
    .keySets
      button.whiteKey.reveal#classicA4
        
      button.blackKey.reveal#classicA4s
        
    .keySets
      button.whiteKey.reveal#classicB4
