mixin classicPianoSetsOfKeysC(key_line)
  if key_line === 2
    .keySets
      button.whiteKey.reveal#classicPianoC2
        +setAudio
      button.blackKey.reveal#classicPianoC2s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicPianoD2
        +setAudio
      button.blackKey.reveal#classicPianoD2s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicPianoE2
        +setAudio
  
  if key_line === 3
    .keySets
      button.whiteKey.reveal#classicPianoC3
        +setAudio
      button.blackKey.reveal#classicPianoC3s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicPianoD3
        +setAudio
      button.blackKey.reveal#classicPianoD3s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicPianoE3
        +setAudio
  
  if key_line === 4
    .keySets
      button.whiteKey.reveal#classicPianoC4
        +setAudio
      button.blackKey.reveal#classicPianoC4s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicPianoD4
        +setAudio
      button.blackKey.reveal#classicPianoD4s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicPianoE4
        +setAudio
  


mixin classicPianoSetsOfKeysF(key_line)
  if key_line == 2
    .keySets
      button.whiteKey.reveal#classicPianoF2
        +setAudio
      button.blackKey.reveal#classicPianoF2s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicPianoG2
        +setAudio
      button.blackKey.reveal#classicPianoG2s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicPianoA3
        +setAudio
      button.blackKey.reveal#classicPianoA3s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicPianoB3
        +setAudio
  
  if key_line == 3
    .keySets
      button.whiteKey.reveal#classicPianoF3
        +setAudio
      button.blackKey.reveal#classicPianoF3s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicPianoG3
        +setAudio
      button.blackKey.reveal#classicPianoG3s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicPianoA4
        +setAudio
      button.blackKey.reveal#classicPianoA4s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicPianoB4
        +setAudio






