mixin classicPianoSetsOfKeysC(key_line)
  if key_line === 2
    .keySets
      button.whiteKey.reveal#classicC2
        +setAudio
      button.blackKey.reveal#classicC2s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicD2
        +setAudio
      button.blackKey.reveal#classicD2s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicE2
        +setAudio
  
  if key_line === 3
    .keySets
      button.whiteKey.reveal#classicC3
        +setAudio
      button.blackKey.reveal#classicC3s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicD3
        +setAudio
      button.blackKey.reveal#classicD3s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicE3
        +setAudio
  
  if key_line === 4
    .keySets
      button.whiteKey.reveal#classicC4
        +setAudio
      button.blackKey.reveal#classicC4s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicD4
        +setAudio
      button.blackKey.reveal#classicD4s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicE4
        +setAudio
  


mixin classicPianoSetsOfKeysF(key_line)
  if key_line == 2
    .keySets
      button.whiteKey.reveal#classicF2
        +setAudio
      button.blackKey.reveal#classicF2s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicG2
        +setAudio
      button.blackKey.reveal#classicG2s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicA3
        +setAudio
      button.blackKey.reveal#classicA3s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicB3
        +setAudio
  
  if key_line == 3
    .keySets
      button.whiteKey.reveal#classicF3
        +setAudio
      button.blackKey.reveal#classicF3s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicG3
        +setAudio
      button.blackKey.reveal#classicG3s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicA4
        +setAudio
      button.blackKey.reveal#classicA4s
        +setAudio
    .keySets
      button.whiteKey.reveal#classicB4
        +setAudio






