mixin cutePianoSetsOfKeysC(key_line)
  if key_line === 2
    .keySets
      button.whiteKey.reveal#cuteC2
        +setAudio
      button.blackKey.reveal#cuteC2s
        +setAudio
    .keySets
      button.whiteKey.reveal#cuteD2
        +setAudio
      button.blackKey.reveal#cuteD2s
        +setAudio
    .keySets
      button.whiteKey.reveal#cuteE2
        +setAudio
  
  if key_line === 3
    .keySets
      button.whiteKey.reveal#cuteC3
        +setAudio
      button.blackKey.reveal#cuteC3s
        +setAudio
    .keySets
      button.whiteKey.reveal#cuteD3
        +setAudio
      button.blackKey.reveal#cuteD3s
        +setAudio
    .keySets
      button.whiteKey.reveal#cuteE3
        +setAudio
  
  if key_line === 4
    .keySets
      button.whiteKey.reveal#cuteC4
        +setAudio
      button.blackKey.reveal#cuteC4s
        +setAudio
    .keySets
      button.whiteKey.reveal#cuteD4
        +setAudio
      button.blackKey.reveal#cuteD4s
        +setAudio
    .keySets
      button.whiteKey.reveal#cuteE4
        +setAudio
  


mixin cutePianoSetsOfKeysF(key_line)
  if key_line == 2
    .keySets
      button.whiteKey.reveal#cuteF2
        +setAudio
      button.blackKey.reveal#cuteF2s
        +setAudio
    .keySets
      button.whiteKey.reveal#cuteG2
        +setAudio
      button.blackKey.reveal#cuteG2s
        +setAudio
    .keySets
      button.whiteKey.reveal#cuteA3
        +setAudio
      button.blackKey.reveal#cuteA3s
        +setAudio
    .keySets
      button.whiteKey.reveal#cuteB3
        +setAudio
  
  if key_line == 3
    .keySets
      button.whiteKey.reveal#cuteF3
        +setAudio
      button.blackKey.reveal#cuteF3s
        +setAudio
    .keySets
      button.whiteKey.reveal#cuteG3
        +setAudio
      button.blackKey.reveal#cuteG3s
        +setAudio
    .keySets
      button.whiteKey.reveal#cuteA4
        +setAudio
      button.blackKey.reveal#cuteA4s
        +setAudio
    .keySets
      button.whiteKey.reveal#cuteB4
        +setAudio






