mixin cutePianoSetsOfKeysC(key_line)
  if key_line === 2
    .keySets
      button.whiteKey.reveal#cutePianoC2
        +setAudio
      button.blackKey.reveal#cutePianoC2s
        +setAudio
    .keySets
      button.whiteKey.reveal#cutePianoD2
        +setAudio
      button.blackKey.reveal#cutePianoD2s
        +setAudio
    .keySets
      button.whiteKey.reveal#cuteianoE2
        +setAudio
  
  if key_line === 3
    .keySets
      button.whiteKey.reveal#cutePianoC3
        +setAudio
      button.blackKey.reveal#cutePianoC3s
        +setAudio
    .keySets
      button.whiteKey.reveal#cutePianoD3
        +setAudio
      button.blackKey.reveal#cutePianoD3s
        +setAudio
    .keySets
      button.whiteKey.reveal#cutePianoE3
        +setAudio
  
  if key_line === 4
    .keySets
      button.whiteKey.reveal#cutePianoC4
        +setAudio
      button.blackKey.reveal#cutePianoC4s
        +setAudio
    .keySets
      button.whiteKey.reveal#cutePianoD4
        +setAudio
      button.blackKey.reveal#cutePianoD4s
        +setAudio
    .keySets
      button.whiteKey.reveal#cutePianoE4
        +setAudio
  


mixin cutePianoSetsOfKeysF(key_line)
  if key_line == 2
    .keySets
      button.whiteKey.reveal#cutePianoF2
        +setAudio
      button.blackKey.reveal#cutePianoF2s
        +setAudio
    .keySets
      button.whiteKey.reveal#cutePianoG2
        +setAudio
      button.blackKey.reveal#cutePianoG2s
        +setAudio
    .keySets
      button.whiteKey.reveal#cutePianoA3
        +setAudio
      button.blackKey.reveal#cutePianoA3s
        +setAudio
    .keySets
      button.whiteKey.reveal#cutePianoB3
        +setAudio
  
  if key_line == 3
    .keySets
      button.whiteKey.reveal#cutePianoF3
        +setAudio
      button.blackKey.reveal#cutePianoF3s
        +setAudio
    .keySets
      button.whiteKey.reveal#cutePianoG3
        +setAudio
      button.blackKey.reveal#cutePianoG3s
        +setAudio
    .keySets
      button.whiteKey.reveal#cutePianoA4
        +setAudio
      button.blackKey.reveal#cutePianoA4s
        +setAudio
    .keySets
      button.whiteKey.reveal#cutePianoB4
        +setAudio






