mixin cutePianoSetsOfKeysC(key_line)
  if key_line === 2
    .keySets
      button.whiteKey.reveal#cuteC2
        
      button.blackKey.reveal#cuteC2s
        
    .keySets
      button.whiteKey.reveal#cuteD2
        
      button.blackKey.reveal#cuteD2s
        
    .keySets
      button.whiteKey.reveal#cuteE2
        
  
  if key_line === 3
    .keySets
      button.whiteKey.reveal#cuteC3
        
      button.blackKey.reveal#cuteC3s
        
    .keySets
      button.whiteKey.reveal#cuteD3
        
      button.blackKey.reveal#cuteD3s
        
    .keySets
      button.whiteKey.reveal#cuteE3
        
  
  if key_line === 4
    .keySets
      button.whiteKey.reveal#cuteC4
        
      button.blackKey.reveal#cuteC4s
        
    .keySets
      button.whiteKey.reveal#cuteD4
        
      button.blackKey.reveal#cuteD4s
        
    .keySets
      button.whiteKey.reveal#cuteE4
        
  


mixin cutePianoSetsOfKeysF(key_line)
  if key_line == 2
    .keySets
      button.whiteKey.reveal#cuteF2
        
      button.blackKey.reveal#cuteF2s
        
    .keySets
      button.whiteKey.reveal#cuteG2
        
      button.blackKey.reveal#cuteG2s
        
    .keySets
      button.whiteKey.reveal#cuteA3
        
      button.blackKey.reveal#cuteA3s
        
    .keySets
      button.whiteKey.reveal#cuteB3
        
  
  if key_line == 3
    .keySets
      button.whiteKey.reveal#cuteF3
        
      button.blackKey.reveal#cuteF3s
        
    .keySets
      button.whiteKey.reveal#cuteG3
        
      button.blackKey.reveal#cuteG3s
        
    .keySets
      button.whiteKey.reveal#cuteA4
        
      button.blackKey.reveal#cuteA4s
        
    .keySets
      button.whiteKey.reveal#cuteB4
