nav.navbar.navbar-default.reveal
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      a.navbar-brand(href="index.html") Web Piano
      

    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
      ul.nav.navbar-nav
        li.active
          a(href="index.html") Piano
            span.sr-only (current)
        li
          a(href="acknowledgment.html") Acknowledgment
              

      ul.nav.navbar-nav.navbar-right
        li
          a(href="https://shotastage.github.io") Author
        li
          a(href="https://github.com/shotastage/webPiano.git")
            i.fa.fa-github.fa-lg(aria-hidden="true")
