nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="index.html") Web Piano
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon

  .collapse.navbar-collapse#navbarColor03
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href="index.html") Piano
          span.sr-only (current)
      li.nav-item
        a.nav-link(href="acknowledgment.html") Acknowledgment
      
    ul.nav.navbar-nav.navbar-right
      li.nav-item
        a.nav-link(href="https://shotastage.github.io") Author
      li.nav-item
        a.nav-link(href="https://github.com/shotastage/webPiano.git")
          i.fa.fa-github.fa-lg(aria-hidden="true")
