mixin rockPianoSetsOfKeysC(key_line)
  if key_line === 2
    .keySets
      button.whiteKey.reveal#rockPianoC2
        +setAudio
      button.blackKey.reveal#rockPianoC2s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockPianoD2
        +setAudio
      button.blackKey.reveal#rockPianoD2s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockPianoE2
        +setAudio
  
  if key_line === 3
    .keySets
      button.whiteKey.reveal#rockPianoC3
        +setAudio
      button.blackKey.reveal#rockPianoC3s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockPianoD3
        +setAudio
      button.blackKey.reveal#rockPianoD3s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockPianoE3
        +setAudio
  
  if key_line === 4
    .keySets
      button.whiteKey.reveal#rockPianoC4
        +setAudio
      button.blackKey.reveal#rockPianoC4s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockPianoD4
        +setAudio
      button.blackKey.reveal#rockPianoD4s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockPianoE4
        +setAudio
  


mixin rockPianoSetsOfKeysF(key_line)
  if key_line == 2
    .keySets
      button.whiteKey.reveal#rockPianoF2
        +setAudio
      button.blackKey.reveal#rockPianoF2s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockPianoG2
        +setAudio
      button.blackKey.reveal#rockPianoG2s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockPianoA3
        +setAudio
      button.blackKey.reveal#rockPianoA3s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockPianoB3
        +setAudio
  
  if key_line == 3
    .keySets
      button.whiteKey.reveal#rockPianoF3
        +setAudio
      button.blackKey.reveal#rockPianoF3s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockPianoG3
        +setAudio
      button.blackKey.reveal#rockPianoG3s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockPianoA4
        +setAudio
      button.blackKey.reveal#rockPianoA4s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockPianoB4
        +setAudio






