mixin rockPianoSetsOfKeysC(key_line)
  if key_line === 2
    .keySets
      button.whiteKey.reveal#rockC2
        
      button.blackKey.reveal#rockC2s
        
    .keySets
      button.whiteKey.reveal#rockD2
        
      button.blackKey.reveal#rockD2s
        
    .keySets
      button.whiteKey.reveal#rockE2
        
  
  if key_line === 3
    .keySets
      button.whiteKey.reveal#rockC3
        
      button.blackKey.reveal#rockC3s
        
    .keySets
      button.whiteKey.reveal#rockD3
        
      button.blackKey.reveal#rockD3s
        
    .keySets
      button.whiteKey.reveal#rockE3
        
  
  if key_line === 4
    .keySets
      button.whiteKey.reveal#rockC4
        
      button.blackKey.reveal#rockC4s
        
    .keySets
      button.whiteKey.reveal#rockD4
        
      button.blackKey.reveal#rockD4s
        
    .keySets
      button.whiteKey.reveal#rockE4
        
  


mixin rockPianoSetsOfKeysF(key_line)
  if key_line == 2
    .keySets
      button.whiteKey.reveal#rockF2
        
      button.blackKey.reveal#rockF2s
        
    .keySets
      button.whiteKey.reveal#rockG2
        
      button.blackKey.reveal#rockG2s
        
    .keySets
      button.whiteKey.reveal#rockA3
        
      button.blackKey.reveal#rockA3s
        
    .keySets
      button.whiteKey.reveal#rockB3
        
  
  if key_line == 3
    .keySets
      button.whiteKey.reveal#rockF3
        
      button.blackKey.reveal#rockF3s
        
    .keySets
      button.whiteKey.reveal#rockG3
        
      button.blackKey.reveal#rockG3s
        
    .keySets
      button.whiteKey.reveal#rockA4
        
      button.blackKey.reveal#rockA4s
        
    .keySets
      button.whiteKey.reveal#rockB4
        






