mixin rockPianoSetsOfKeysC(key_line)
  if key_line === 2
    .keySets
      button.whiteKey.reveal#rockC2
        +setAudio
      button.blackKey.reveal#rockC2s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockD2
        +setAudio
      button.blackKey.reveal#rockD2s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockE2
        +setAudio
  
  if key_line === 3
    .keySets
      button.whiteKey.reveal#rockC3
        +setAudio
      button.blackKey.reveal#rockC3s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockD3
        +setAudio
      button.blackKey.reveal#rockD3s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockE3
        +setAudio
  
  if key_line === 4
    .keySets
      button.whiteKey.reveal#rockC4
        +setAudio
      button.blackKey.reveal#rockC4s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockD4
        +setAudio
      button.blackKey.reveal#rockD4s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockE4
        +setAudio
  


mixin rockPianoSetsOfKeysF(key_line)
  if key_line == 2
    .keySets
      button.whiteKey.reveal#rockF2
        +setAudio
      button.blackKey.reveal#rockF2s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockG2
        +setAudio
      button.blackKey.reveal#rockG2s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockA3
        +setAudio
      button.blackKey.reveal#rockA3s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockB3
        +setAudio
  
  if key_line == 3
    .keySets
      button.whiteKey.reveal#rockF3
        +setAudio
      button.blackKey.reveal#rockF3s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockG3
        +setAudio
      button.blackKey.reveal#rockG3s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockA4
        +setAudio
      button.blackKey.reveal#rockA4s
        +setAudio
    .keySets
      button.whiteKey.reveal#rockB4
        +setAudio






